<nav>
    <div class="navs" id="home"><a href="/admin/profile">Home</a></div>
    <div class="navs" id="search">
      <input type="text" id="searchBar" placeholder="Search User...">
      <button id="searchbtn">Search</button>
  </div>
    <div class="navs" id="logout"><a href="/admin/logout">logout</a></div>
  </nav>
