<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <link rel="stylesheet" href="../public/css/styles.css">
  </head>
  <body>
    <h1>Error getting page:</h1>
    <h2><%= err %></h2>
    <a href="/">go home</a>
  </body>
</html>
